@import "gui_basic/theme.css";

label.info-label
{
    text-color: #FFFFFF;
    font-size: 22px;
    font-family: Ubuntu;
}

button.action-icon
{
    bg-image:;
    max-width: 50px;
    max-height: 50px;
}

label.console-label
{
    padding-top: 32;
    padding-left: 25;
    text-color: white;
    font-size: 16;
    bg-image: Console;
    bg-image-sizing: stretch;
}

lineedit.console-edit
{
    font-family: Ubuntu;
    text-color: white;
    font-size: 21;
    bg-image:;
}
