@import "gui_basic/theme.css";

label.info-label
{
    text-color: #FFFFFF;
    font-size: 22px;
    font-family: Ubuntu;
}

button.action-icon
{
    bg-image:;
    max-width: 50px;
    max-height: 50px;
}
